<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit Confirmation</title>
</head>
<body>

    <p>Dear {{ user.first_name }} {{ user.last_name }},</p>
    <p>Thank you for creating an account in our library.</p>
    <p>Here is your account information:</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Initial Balance: {{ user.account.balance }}</p>
    <p>Best regards,<br>Library</p>
</body>
</html>
